.pastors-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  position: relative;
  padding: 2rem;
  color: white;
}

.container:has(.pastors-section) {
  background-color: hsl(var(--primary));
  margin: 0;
  max-width: 100%;
}

.pastors-section img {
  border-radius: 20px;
  max-width: 100%;
}

.pastors-section-text {
  max-width: 600px;
  line-height: 35px;
  display: grid;
  gap: 1rem;
}
.pastors-section-text p {
  max-width: 500px;
}

.pastors-section h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.pastors-section h1 {
  font-size: 2.4rem;
  font-weight: bold;
}
@media screen and (max-width: 1266px) {
  .pastors-section {
    text-align: center;
  }
  .pastors-section-text p {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .pastors-section h1 {
    font-size: 2rem;
  }

  .pastors-section h2 {
    font-size: 1.25rem;
  }

  .pastors-section-text {
    padding: 1rem;
  }
}
